<span *ngIf="showLoader" class="loading"></span>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Job List</h3>
      <div class="row">
        <div class="col-lg-4 pull-right">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="searchData.searchKey" placeholder="Search job name...">
            <span class="input-group-btn">
              <a (click)="onSearch()" class="btn btn-info">Search</a>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-striped">
            <thead>
            <tr style="font-weight: bold">
              <td>No.</td>
              <td> Name</td>
              <td>description</td>

              <!--<td>Photo</td>-->
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let job of jobs; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ job.name }}</td>
              <td>{{ job.description }}</td>

             <!-- <td>
                  <span *ngIf="candidate.photo">
                  <img src="data:image/jpg;base64,{{ candidate.photo }}" class="img-responsive" width="100px"/>
                </span>
              </td>-->
              <td class="text-right">
                <a (click)="deleteJob(job.id)" class="btn btn-danger">Delete</a>
              </td>
              <td>
                <a [routerLink]="['/update' , job.id]" class="btn btn-default">Update</a>
              </td>
              <td >
                <a (click)="RunJob()" class="btn btn-success">Run</a>
              </td>


            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
